-- ============================================================
-- AITC 测试部AI助手 — 建表 + 菜单权限 + Router测试数据
-- 依赖：已有 youlai-admin 基础库（sys_menu/sys_role/sys_role_menu 等）
-- 兼容：PostgreSQL 16+
-- ============================================================

-- ----------------------------
-- 1. 建表（10 张 AITC 业务表）
-- ----------------------------

-- 1.1 测试项目
DROP TABLE IF EXISTS ai_tc_scripts CASCADE;
DROP TABLE IF EXISTS ai_tc_review_records CASCADE;
DROP TABLE IF EXISTS ai_tc_task_items CASCADE;
DROP TABLE IF EXISTS ai_tc_tasks CASCADE;
DROP TABLE IF EXISTS ai_tc_ai_configs CASCADE;
DROP TABLE IF EXISTS ai_tc_samples CASCADE;
DROP TABLE IF EXISTS ai_tc_cases CASCADE;
DROP TABLE IF EXISTS ai_tc_suites CASCADE;
DROP TABLE IF EXISTS ai_tc_projects CASCADE;

CREATE TABLE ai_tc_projects (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name varchar(128) NOT NULL,
    prefix varchar(64) NOT NULL,
    description text,
    last_sync_time varchar(32),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_projects IS '测试项目（用例集/产品）';
COMMENT ON COLUMN ai_tc_projects.id IS '主键ID';
COMMENT ON COLUMN ai_tc_projects.name IS '项目名称';
COMMENT ON COLUMN ai_tc_projects.prefix IS '项目标识（唯一）';
COMMENT ON COLUMN ai_tc_projects.description IS '项目描述';
COMMENT ON COLUMN ai_tc_projects.last_sync_time IS '最后导入时间';
COMMENT ON COLUMN ai_tc_projects.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_projects.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_projects.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE UNIQUE INDEX uq_aitc_project_prefix ON ai_tc_projects (prefix);

-- 1.2 测试套件
CREATE TABLE ai_tc_suites (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    project_id bigint NOT NULL REFERENCES ai_tc_projects(id),
    parent_id bigint DEFAULT 0,
    tree_path varchar(512) DEFAULT '',
    name varchar(128) NOT NULL,
    sort_order int DEFAULT 0,
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_suites IS '测试套件（模块树节点）';
COMMENT ON COLUMN ai_tc_suites.id IS '主键ID';
COMMENT ON COLUMN ai_tc_suites.project_id IS '项目ID';
COMMENT ON COLUMN ai_tc_suites.parent_id IS '父套件ID，0为根';
COMMENT ON COLUMN ai_tc_suites.tree_path IS '祖先路径如 0,1,5';
COMMENT ON COLUMN ai_tc_suites.name IS '套件名称';
COMMENT ON COLUMN ai_tc_suites.sort_order IS '排序';
COMMENT ON COLUMN ai_tc_suites.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_suites.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_suites.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE INDEX idx_aitc_suite_project ON ai_tc_suites (project_id, is_deleted);
CREATE INDEX idx_aitc_suite_parent ON ai_tc_suites (parent_id);
CREATE INDEX idx_aitc_suite_tree ON ai_tc_suites (tree_path);

-- 1.3 测试用例
CREATE TABLE ai_tc_cases (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    project_id bigint NOT NULL REFERENCES ai_tc_projects(id),
    suite_id bigint NOT NULL REFERENCES ai_tc_suites(id),
    external_id varchar(64),
    name varchar(256) NOT NULL,
    summary text,
    preconditions text,
    topo varchar(512),
    test_data text,
    steps jsonb,
    importance smallint DEFAULT 2,
    is_core smallint DEFAULT 0,
    core_reason varchar(512),
    core_source smallint,
    is_sample smallint DEFAULT 0,
    review_status smallint DEFAULT 0,
    script_count int DEFAULT 0,
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_cases IS '测试用例';
COMMENT ON COLUMN ai_tc_cases.id IS '主键ID';
COMMENT ON COLUMN ai_tc_cases.project_id IS '项目ID';
COMMENT ON COLUMN ai_tc_cases.suite_id IS '所属套件ID';
COMMENT ON COLUMN ai_tc_cases.external_id IS 'Excel用例ID，项目内唯一';
COMMENT ON COLUMN ai_tc_cases.name IS '用例名称';
COMMENT ON COLUMN ai_tc_cases.summary IS '测试思想';
COMMENT ON COLUMN ai_tc_cases.preconditions IS '前置条件';
COMMENT ON COLUMN ai_tc_cases.topo IS '测试拓扑';
COMMENT ON COLUMN ai_tc_cases.test_data IS '测试数据';
COMMENT ON COLUMN ai_tc_cases.steps IS '测试步骤 [{step_no, action, expected}]';
COMMENT ON COLUMN ai_tc_cases.importance IS '级别 1-低 2-中 3-高';
COMMENT ON COLUMN ai_tc_cases.is_core IS '是否核心用例 0-否 1-是';
COMMENT ON COLUMN ai_tc_cases.core_reason IS '标记为核心的原因';
COMMENT ON COLUMN ai_tc_cases.core_source IS '核心来源 1-AI挑选 2-人工标记';
COMMENT ON COLUMN ai_tc_cases.is_sample IS '是否样本用例 0-否 1-是';
COMMENT ON COLUMN ai_tc_cases.review_status IS '审核状态 0-未审核 1-已审核';
COMMENT ON COLUMN ai_tc_cases.script_count IS '关联脚本数量';
COMMENT ON COLUMN ai_tc_cases.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_cases.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_cases.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE INDEX idx_aitc_case_suite ON ai_tc_cases (suite_id, is_deleted);
CREATE INDEX idx_aitc_case_project_core ON ai_tc_cases (project_id, is_core);
CREATE INDEX idx_aitc_case_sample ON ai_tc_cases (project_id, is_sample);
CREATE INDEX idx_aitc_case_review ON ai_tc_cases (project_id, review_status);
CREATE UNIQUE INDEX uq_aitc_case_extid ON ai_tc_cases (project_id, external_id);

-- 1.4 样本库
CREATE TABLE ai_tc_samples (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    project_id bigint REFERENCES ai_tc_projects(id),
    sample_type varchar(16) NOT NULL,
    name varchar(128) NOT NULL,
    language varchar(32),
    framework varchar(32) DEFAULT 'pytest',
    content text NOT NULL,
    description varchar(512),
    status smallint DEFAULT 1,
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_samples IS '样本库（用例样本/脚本样本）';
COMMENT ON COLUMN ai_tc_samples.id IS '主键ID';
COMMENT ON COLUMN ai_tc_samples.project_id IS '项目ID，NULL为通用';
COMMENT ON COLUMN ai_tc_samples.sample_type IS '类型 case-用例样本 script-脚本样本';
COMMENT ON COLUMN ai_tc_samples.name IS '样本名称';
COMMENT ON COLUMN ai_tc_samples.language IS '语言（脚本样本用）';
COMMENT ON COLUMN ai_tc_samples.framework IS '框架';
COMMENT ON COLUMN ai_tc_samples.content IS '样本内容';
COMMENT ON COLUMN ai_tc_samples.description IS '样本描述';
COMMENT ON COLUMN ai_tc_samples.status IS '状态 0-停用 1-启用';
COMMENT ON COLUMN ai_tc_samples.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_samples.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_samples.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE INDEX idx_aitc_sample_type ON ai_tc_samples (sample_type, project_id);

-- 1.6 AI服务配置
CREATE TABLE ai_tc_ai_configs (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    name varchar(128) NOT NULL,
    provider varchar(32) DEFAULT 'openai_compat',
    api_base varchar(256) NOT NULL,
    api_key varchar(512) NOT NULL,
    model varchar(64) NOT NULL,
    temperature float DEFAULT 0.3,
    max_tokens int DEFAULT 4096,
    scenes jsonb,
    is_default smallint DEFAULT 0,
    status smallint DEFAULT 1,
    remark varchar(512),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_ai_configs IS 'AI服务配置';
COMMENT ON COLUMN ai_tc_ai_configs.id IS '主键ID';
COMMENT ON COLUMN ai_tc_ai_configs.name IS '配置名称';
COMMENT ON COLUMN ai_tc_ai_configs.provider IS '提供方 deepseek/openai_compat';
COMMENT ON COLUMN ai_tc_ai_configs.api_base IS 'API地址';
COMMENT ON COLUMN ai_tc_ai_configs.api_key IS 'API密钥';
COMMENT ON COLUMN ai_tc_ai_configs.model IS '模型名';
COMMENT ON COLUMN ai_tc_ai_configs.temperature IS '采样温度';
COMMENT ON COLUMN ai_tc_ai_configs.max_tokens IS '最大输出token';
COMMENT ON COLUMN ai_tc_ai_configs.scenes IS '适用场景列表';
COMMENT ON COLUMN ai_tc_ai_configs.is_default IS '全局兜底默认';
COMMENT ON COLUMN ai_tc_ai_configs.status IS '状态 0-停用 1-启用';
COMMENT ON COLUMN ai_tc_ai_configs.remark IS '备注';
COMMENT ON COLUMN ai_tc_ai_configs.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_ai_configs.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_ai_configs.is_deleted IS '逻辑删除 0-未删除 1-已删除';

-- 1.7 AI任务
CREATE TABLE ai_tc_tasks (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    task_type varchar(32) NOT NULL,
    project_id bigint NOT NULL REFERENCES ai_tc_projects(id),
    suite_id bigint NOT NULL REFERENCES ai_tc_suites(id),
    sample_ids jsonb,
    spec_ids jsonb,
    ai_config_id bigint REFERENCES ai_tc_ai_configs(id),
    model varchar(64),
    status smallint DEFAULT 0,
    total_count int DEFAULT 0,
    done_count int DEFAULT 0,
    input_tokens int DEFAULT 0,
    output_tokens int DEFAULT 0,
    error_msg text,
    create_by varchar(64),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_tasks IS 'AI任务';
COMMENT ON COLUMN ai_tc_tasks.id IS '主键ID';
COMMENT ON COLUMN ai_tc_tasks.task_type IS '任务类型 core_select/case_review/script_gen';
COMMENT ON COLUMN ai_tc_tasks.project_id IS '项目ID';
COMMENT ON COLUMN ai_tc_tasks.suite_id IS '目标套件ID';
COMMENT ON COLUMN ai_tc_tasks.sample_ids IS '使用的样本ID列表';
COMMENT ON COLUMN ai_tc_tasks.spec_ids IS '使用的规范ID列表（核心挑选等）';
COMMENT ON COLUMN ai_tc_tasks.ai_config_id IS 'AI配置ID';
COMMENT ON COLUMN ai_tc_tasks.model IS '实际使用的模型名（快照）';
COMMENT ON COLUMN ai_tc_tasks.status IS '状态 0-排队 1-运行中 2-已完成 3-失败 4-已确认';
COMMENT ON COLUMN ai_tc_tasks.total_count IS '总用例数';
COMMENT ON COLUMN ai_tc_tasks.done_count IS '已完成数';
COMMENT ON COLUMN ai_tc_tasks.input_tokens IS '输入token数';
COMMENT ON COLUMN ai_tc_tasks.output_tokens IS '输出token数';
COMMENT ON COLUMN ai_tc_tasks.error_msg IS '错误信息';
COMMENT ON COLUMN ai_tc_tasks.create_by IS '创建人';
COMMENT ON COLUMN ai_tc_tasks.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_tasks.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_tasks.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE INDEX idx_aitc_task_project ON ai_tc_tasks (project_id, task_type);

-- 1.8 AI任务明细
CREATE TABLE ai_tc_task_items (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    task_id bigint NOT NULL REFERENCES ai_tc_tasks(id),
    case_id bigint NOT NULL REFERENCES ai_tc_cases(id),
    case_name varchar(256) NOT NULL,
    output jsonb,
    item_status smallint DEFAULT 0,
    confirm_status smallint DEFAULT 0,
    final_content text,
    reviewed_by varchar(64),
    review_time varchar(32),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_task_items IS 'AI任务明细（每条用例的处理结果）';
COMMENT ON COLUMN ai_tc_task_items.id IS '主键ID';
COMMENT ON COLUMN ai_tc_task_items.task_id IS '任务ID';
COMMENT ON COLUMN ai_tc_task_items.case_id IS '用例ID';
COMMENT ON COLUMN ai_tc_task_items.case_name IS '用例名称（快照）';
COMMENT ON COLUMN ai_tc_task_items.output IS 'AI输出结果';
COMMENT ON COLUMN ai_tc_task_items.item_status IS '明细状态 0-待处理 1-成功 2-失败';
COMMENT ON COLUMN ai_tc_task_items.confirm_status IS '确认状态 0-待确认 1-采纳 2-忽略 3-编辑采纳';
COMMENT ON COLUMN ai_tc_task_items.final_content IS '人工修改后的最终内容';
COMMENT ON COLUMN ai_tc_task_items.reviewed_by IS '审核人';
COMMENT ON COLUMN ai_tc_task_items.review_time IS '审核时间';
COMMENT ON COLUMN ai_tc_task_items.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_task_items.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_task_items.is_deleted IS '逻辑删除 0-未删除 1-已删除';

-- 1.9 测试脚本库
CREATE TABLE ai_tc_scripts (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    case_id bigint NOT NULL REFERENCES ai_tc_cases(id),
    language varchar(32) DEFAULT 'python',
    framework varchar(32) DEFAULT 'pytest',
    content text NOT NULL,
    source smallint DEFAULT 1,
    task_item_id bigint REFERENCES ai_tc_task_items(id),
    version int DEFAULT 1,
    status smallint DEFAULT 1,
    reviewed_by varchar(64),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    is_deleted smallint DEFAULT 0,
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_scripts IS '测试脚本库';
COMMENT ON COLUMN ai_tc_scripts.id IS '主键ID';
COMMENT ON COLUMN ai_tc_scripts.case_id IS '用例ID';
COMMENT ON COLUMN ai_tc_scripts.language IS '脚本语言';
COMMENT ON COLUMN ai_tc_scripts.framework IS '测试框架';
COMMENT ON COLUMN ai_tc_scripts.content IS '脚本内容';
COMMENT ON COLUMN ai_tc_scripts.source IS '来源 1-AI生成 2-人工录入';
COMMENT ON COLUMN ai_tc_scripts.task_item_id IS '来源任务明细ID';
COMMENT ON COLUMN ai_tc_scripts.version IS '版本号';
COMMENT ON COLUMN ai_tc_scripts.status IS '状态 1-草稿 2-已入库';
COMMENT ON COLUMN ai_tc_scripts.reviewed_by IS '审核人';
COMMENT ON COLUMN ai_tc_scripts.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_scripts.update_time IS '更新时间';
COMMENT ON COLUMN ai_tc_scripts.is_deleted IS '逻辑删除 0-未删除 1-已删除';
CREATE INDEX idx_aitc_script_case ON ai_tc_scripts (case_id, is_deleted);


-- 1.10 审核记录（审计日志）
CREATE TABLE ai_tc_review_records (
    id bigint GENERATED BY DEFAULT AS IDENTITY,
    task_id bigint NOT NULL REFERENCES ai_tc_tasks(id),
    task_item_id bigint NOT NULL REFERENCES ai_tc_task_items(id),
    case_id bigint NOT NULL REFERENCES ai_tc_cases(id),
    review_action varchar(32) NOT NULL,
    field_name varchar(64),
    before_value text,
    after_value text,
    reviewer varchar(64),
    reviewer_ip varchar(64),
    review_time varchar(32),
    memo varchar(512),
    create_time timestamp DEFAULT now(),
    update_time timestamp DEFAULT now(),
    PRIMARY KEY (id)
);
COMMENT ON TABLE ai_tc_review_records IS '审核记录（审计日志）';
COMMENT ON COLUMN ai_tc_review_records.id IS '主键ID';
COMMENT ON COLUMN ai_tc_review_records.task_id IS '任务ID';
COMMENT ON COLUMN ai_tc_review_records.task_item_id IS '任务明细ID';
COMMENT ON COLUMN ai_tc_review_records.case_id IS '用例ID';
COMMENT ON COLUMN ai_tc_review_records.review_action IS '操作 accept/ignore/edit_accept/field_accept';
COMMENT ON COLUMN ai_tc_review_records.field_name IS '审核字段名';
COMMENT ON COLUMN ai_tc_review_records.before_value IS '修改前的值';
COMMENT ON COLUMN ai_tc_review_records.after_value IS '修改后的值';
COMMENT ON COLUMN ai_tc_review_records.reviewer IS '审核人';
COMMENT ON COLUMN ai_tc_review_records.reviewer_ip IS '审核人IP';
COMMENT ON COLUMN ai_tc_review_records.review_time IS '审核时间';
COMMENT ON COLUMN ai_tc_review_records.memo IS '备注';
COMMENT ON COLUMN ai_tc_review_records.create_time IS '创建时间';
COMMENT ON COLUMN ai_tc_review_records.update_time IS '更新时间';
CREATE INDEX idx_aitc_review_task ON ai_tc_review_records (task_id);
CREATE INDEX idx_aitc_review_item ON ai_tc_review_records (task_item_id);
CREATE INDEX idx_aitc_review_case ON ai_tc_review_records (case_id);


-- ----------------------------
-- 2. Router 测试数据：项目 + 套件 + 30 条真实用例
-- ----------------------------

INSERT INTO ai_tc_projects (id, name, prefix, description)
VALUES (1, 'Router', 'router', '路由器测试用例库，覆盖WAN口、LAN口、无线三大模块的功能测试');

-- WAN / LAN / Wireless 三个一级套件
INSERT INTO ai_tc_suites (id, project_id, parent_id, tree_path, name, sort_order) VALUES
(1, 1, 0, '0', 'WAN', 1),
(2, 1, 0, '0', 'LAN', 2),
(3, 1, 0, '0', 'Wireless', 3);

-- WAN 10条用例 (suite_id=1)

-- LAN 10条用例 (suite_id=2)

-- Wireless 10条用例 (suite_id=3)


-- ----------------------------
-- 2-2. AI 规范表 + 种子数据
-- ----------------------------

DROP TABLE IF EXISTS ai_tc_specs;
CREATE TABLE ai_tc_specs (
    id              BIGSERIAL       PRIMARY KEY,
    project_id      BIGINT          REFERENCES ai_tc_projects(id),
    suite_id        BIGINT          REFERENCES ai_tc_suites(id),
    task_type       VARCHAR(32)     NOT NULL,    -- core_select / case_review / script_gen
    spec_type       VARCHAR(32)     NOT NULL,    -- general / module_specific / common_issues
    content         TEXT            NOT NULL,    -- 规范内容（Markdown）
    sort_order      INTEGER         DEFAULT 0,
    status          SMALLINT        DEFAULT 1,   -- 0-停用 1-启用
    is_deleted      SMALLINT        DEFAULT 0,
    create_time     TIMESTAMP       DEFAULT CURRENT_TIMESTAMP,
    update_time     TIMESTAMP       DEFAULT CURRENT_TIMESTAMP
);
CREATE INDEX idx_aitc_spec_task    ON ai_tc_specs (task_type, spec_type);
CREATE INDEX idx_aitc_spec_project ON ai_tc_specs (project_id, task_type);
CREATE INDEX idx_aitc_spec_suite   ON ai_tc_specs (suite_id);

COMMENT ON TABLE  ai_tc_specs               IS 'AI规范管理表（通用/模块专用规范、常见问题）';
COMMENT ON COLUMN ai_tc_specs.project_id     IS '项目ID，NULL 为全局通用';
COMMENT ON COLUMN ai_tc_specs.suite_id       IS '模块ID，模块专用规范时使用';
COMMENT ON COLUMN ai_tc_specs.task_type      IS '任务类型 core_select/case_review/script_gen';
COMMENT ON COLUMN ai_tc_specs.spec_type      IS '规范类型 general/module_specific/common_issues';
COMMENT ON COLUMN ai_tc_specs.content        IS '规范内容（Markdown）';
COMMENT ON COLUMN ai_tc_specs.sort_order     IS '排序号';
COMMENT ON COLUMN ai_tc_specs.status         IS '状态 0-停用 1-启用';

-- 种子数据：3 个任务类型 × 3 个规范类型 = 9 条
-- 通用规范写入基础内容，其他为空（用户后续填入）

-- 1) 用例审核 --- 通用规范

SELECT setval('ai_tc_specs_id_seq', 9);


-- ----------------------------
-- 3. AITC 菜单 + 按钮权限 (从数据库直接导出)
-- ----------------------------

-- AITC 菜单数据（30 条，直接从 PostgreSQL 导出）
DELETE FROM sys_role_menu WHERE menu_id >= 2826 AND menu_id <= 3100;
DELETE FROM sys_menu WHERE id >= 2826 AND id <= 3100;



-- ----------------------------
-- 4. 授权：ROOT (role_id=1) + ADMIN (role_id=2) 获取所有 AITC 菜单
-- ----------------------------
INSERT INTO sys_role_menu (role_id, menu_id)
SELECT 1, id FROM sys_menu WHERE id BETWEEN 3000 AND 3084
ON CONFLICT DO NOTHING;
INSERT INTO sys_role_menu (role_id, menu_id)
SELECT 2, id FROM sys_menu WHERE id BETWEEN 3000 AND 3084
ON CONFLICT DO NOTHING;


-- ----------------------------
-- 5. 重置 IDENTITY 序列
-- ----------------------------
SELECT setval(pg_get_serial_sequence('ai_tc_projects', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_projects), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_suites', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_suites), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_cases', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_cases), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_samples', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_samples), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_ai_configs', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_ai_configs), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_tasks', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_tasks), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_task_items', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_task_items), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_scripts', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_scripts), 1));
SELECT setval(pg_get_serial_sequence('ai_tc_review_records', 'id'), COALESCE((SELECT MAX(id) FROM ai_tc_review_records), 1));
SELECT setval(pg_get_serial_sequence('sys_menu', 'id'), COALESCE((SELECT MAX(id) FROM sys_menu), 1));
